<ion-pane class="modal drawingpad-modal">
    <ion-header-bar class="bar bar-header bar-positive">
        <button class="button button-clear button-primary" ng-click="$ctrl.cancelDrawing()">Cancel</button>
        <h1 class="title">Drawing Pad</h1>
        <button class="button button-clear button-primary" ng-click="$ctrl.saveDrawing($ctrl.editingImageName, $ctrl.editingQuestionId)" ng-if="$ctrl.allowEdit">Save</button>
    </ion-header-bar>
    
    <ion-content scroll="false">
        <canvas id="c"></canvas>
    </ion-content>

    <ion-footer-bar class="bar-stable" ng-if="$ctrl.allowEdit">
        <!--<div class="title">            
        </div>-->
        <!--<button class="button button-icon pull-left ion-arrow-return-left" ng-click="$ctrl.rotateLeft()"></button>
        <button class="button button-icon pull-left ion-arrow-return-right" ng-click="$ctrl.rotateRight()"></button>-->
        <button class="button button-clear pull-left" ng-style="{color: $ctrl.brushcolor}" ng-click="$ctrl.addText()">Aa</button>
        <button class="button button-icon pull-left ion-paintbrush" ng-style="{color: ($ctrl.canvas.isDrawingMode ? 'black': 'grey')}" ng-click="$ctrl.drawingMode()"></button>
        <!--<button class="button button-icon pull-left ion-android-color-palette" ng-style="{color: $ctrl.brushcolor}" ng-if="$ctrl.showColorPaletteIcon" ng-click="$ctrl.openColorsPopover($event)"></button>-->
        <button class="button button-icon pull-left ion-android-color-palette" ng-style="{color: $ctrl.brushcolor}" ng-click="$ctrl.openColorsPopover($event)"></button>
        <button class="button button-icon pull-left ion-ios-undo" ng-click="$ctrl.undoLastObject()"></button>
        <button class="button button-icon pull-left ion-trash-a" ng-click="$ctrl.deleteDrawingImg($ctrl.editingImageName, $ctrl.editingQuestionId)"></button>
    </ion-footer-bar>
</ion-pane>