<ion-popover-view>
  <ion-content>
    <div>
      <button class="button button-icon ion-record"
              ng-repeat="color in $ctrl.colors"
              style="color: {{color.color}}; font-size: 36.5px"
              ng-click="$ctrl.changeBrushColor(color.color)">
      </button>
    </div>
  </ion-content>
</ion-popover-view>
