<ion-view view-title="About">
    <ion-header-bar>
        <h1 class="title">About</h1>
    </ion-header-bar>
    <ion-content class="padding" padding="true">
        <h2>Welcome to Paperless App</h2>
        <p>Please use the default account to test the app. </p>
    </ion-content>
</ion-view>