<progressbar></progressbar>

<div ng-repeat="question in $ctrl.questions" ng-switch="question.questionTypeId">
    <div class="animated zoomIn">
        <div ng-switch-when="1" title="Text">
            <text-question question="question"></text-question>
        </div>

        <div ng-switch-when="3" title="CheckBox">
            <check-box-question question="question"></check-box-question>
        </div>

        <div ng-switch-when="4" title="Photo">
            <photoqt question="question"></photoqt>
        </div>

        <div ng-switch-when="5" title="Signature">
            <signature-question question="question"></signature-question>
        </div>

        <div ng-switch-when="6" title="Drawing">
            <drawing-question question="question"></drawing-question>
        </div>

        <div ng-switch-when="7" title="Bullet">
            <bullet-question question="question"></bullet-question>
        </div>

        <div ng-switch-when="9" title="Label">
            <div class="item item-divider item-text-wrap">
                {{ question.content }}
            </div>
        </div>

        <div ng-switch-when="10" class="animated zoomIn" title="Show Risk Assesment Image">
            <div class="item item-image">
                <img src="components/question/showRiskAssImg/showRiskAssImg.png">
            </div>
        </div>

        <div ng-switch-when="11" title="Isolation Procedure" ng-init="$ctrl.setIsAddedForStepQuestion(question.id, question.answer)">
            <div class="animated zoomInDown" ng-if="$ctrl.isFirstStepQuestion(question.id) || $ctrl.stepQuestionArr[question.id].isAdded">
                <isolation-pro-question question="question"></isolation-pro-question>
            </div>
            <button class="button button-block button-positive" ng-click="$ctrl.addMoreStep()" ng-disabled="$ctrl.disableAddMore" ng-if="$index == $ctrl.questions.length - 1">Add More (Up to {{ $ctrl.totalSteps }})</button>
        </div>

        <div ng-switch-when="12" title="Risk Assesment Question" ng-init="$ctrl.setIsAddedForStepQuestion(question.id, question.answer)">
            <div class="animated zoomInDown" ng-if="$ctrl.isFirstStepQuestion(question.id) || $ctrl.stepQuestionArr[question.id].isAdded">
                <riskassqt question="question"></riskassqt>
            </div>
            <button class="button button-block button-positive" ng-click="$ctrl.addMoreStep()" ng-disabled="$ctrl.disableAddMore" ng-if="$index == $ctrl.questions.length - 1">Add More (Up to {{ $ctrl.totalSteps }})</button>
        </div>

        <div ng-switch-default>
            <div class="item item-divider item-text-wrap">
                Unknown questionType. Please contact developer to display it properly. Question content is: {{ question.content }}
            </div>
            <div class="item item-input">
                <textarea placeholder="Your answer (UI Type is: {{ question.questionTypeName }} (Testing purpose.))"></textarea>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="item button-bar">
        <a class="button button-outline button-positive" ng-click="$ctrl.moveBack()" ng-disabled="$ctrl.currentSectionIndex == 0">Back</a>
        <a class="button button-outline button-positive" ng-click="$ctrl.moveNext()" ng-disabled="$ctrl.currentSectionIndex == $ctrl.sections.length - 1">Next</a>
    </div>
</div>