<div class="card">
    <div class="item">
        <div class="progress">
            <span class="percent">{{ $ctrl.progressPercentValue }}% complete</span>
            <div class="bar" ng-style="{ 'width': $ctrl.progressPercentValue + '%' }"></div>
        </div>
    </div>
</div>

<!--<div class="row">
    <div class="progress">
        <span class="percent">30% complete</span>
        <div class="bar" style="width: 50%;"></div>
    </div>
</div>-->