<imageeditor></imageeditor>
<div class="list card">
    <div class="item item-divider item-text-wrap">
        <h2>{{ $ctrl.question.content }}</h2>
        <p>Photos Taken (up to 5): {{ $ctrl.imagesNames.length > 0 ? $ctrl.imagesNames.length : 0 }}</p>
    </div>

    <img ng-repeat="image in $ctrl.imagesNames" ng-src="{{$ctrl.urlForImage(image)}}" style="height: 100px; width: 100px; padding: 5px 5px 5px 5px;"
        ng-click="$ctrl.editImage(image, $ctrl.question.id)" />
    <!--<img ng-repeat="image in images" ng-src="data:image/jpeg;base64,{{image}}" style="height: 100px; width: 100px; padding: 5px 5px 5px 5px;">-->
    <p style="padding-left: 5px;" ng-show="$ctrl.imagesNames.length > 0">
        <i class="icon ion-ios-information-outline"></i>
        <a href="" class="subdued">Tap a photo to edit or delete.</a>
    </p>

    <a class="item item-icon-left assertive" href="" ng-click="$ctrl.addMedia($ctrl.question.id)">
        <i class="icon ion-camera"></i> Add a Photo
    </a>
</div>