<progressbar></progressbar>

<ion-list ng-if="$ctrl.sections.length > 0">
    <ion-item class="item-icon-left item-icon-right animated zoomIn" ng-repeat="section in $ctrl.sections" ng-click="$ctrl.selectSection(section.id, $index)"
        ng-class="{ 'active': section.id == $ctrl.idSelectedSection }">
        <i class="icon {{ (section.numberOfEmptyAnswer != section.totalQuestions ? 'ion-android-checkbox-outline': 'ion-android-checkbox-outline-blank') }}"></i> {{ section.name }}
        <i class="icon ion-chevron-right icon-accessory"></i>
    </ion-item>
</ion-list>