<label class="item item-input item-stacked-label">
    <span class="input-label">{{ $ctrl.question.content }}</span>
    <textarea placeholder="Your answer:" ng-model="$ctrl.question.answer" ng-change="$ctrl.saveAnswer()"></textarea>
</label>