<ion-tabs class="tabs-icon-top tabs-color-active-positive animated fadeInUp">
    <ion-tab title="Login" icon="ion-log-in" ui-sref="tab.login">
        <ion-nav-view name="tab-login" class="animated fadeIn"></ion-nav-view>
    </ion-tab>

    <ion-tab title="About" icon="ion-information-circled" ui-sref="tab.about">
        <ion-nav-view name="tab-about" class="animated fadeIn"></ion-nav-view>
    </ion-tab>
</ion-tabs>