<!--<ion-pane class="modal drawingpad-modal">
    <ion-header-bar class="bar bar-header bar-positive">
        <button class="button button-clear button-primary" ng-click="$ctrl.cancelEditImage()">Cancel</button>
        <h1 class="title">Edit Image</h1>
        <button class="button button-clear button-primary" ng-click="$ctrl.updateImage($ctrl.editingImageName, $ctrl.editingQuestionId)">Update</button>
    </ion-header-bar>
    
    <ion-content scroll="false">
        <canvas id="imageCanvas"></canvas>
    </ion-content>

    <ion-footer-bar class="bar-balanced">
        <button class="button button-icon pull-left ion-arrow-return-left" ng-click="$ctrl.rotateLeft()"></button>
        <button class="button button-icon pull-left ion-arrow-return-right" ng-click="$ctrl.rotateRight()"></button>
        <button class="button button-icon pull-right ion-trash-a" ng-click="$ctrl.deleteImage($ctrl.editingImageName, $ctrl.editingQuestionId)"></button>
    </ion-footer-bar>    
</ion-pane>-->

<div class="modal image-modal">
    <ion-header-bar class="bar bar-header bar-positive" ng-show="$ctrl.showBar">
        <button class="button button-clear button-primary" ng-click="$ctrl.cancelEditImage()">Cancel</button>
        <h1 class="title">Edit Image</h1>
        <button class="button button-clear button-primary" ng-click="$ctrl.updateImage($ctrl.editingImageName, $ctrl.editingQuestionId)">Update</button>
    </ion-header-bar>

    <ion-pane ng-click="$ctrl.showBar = !$ctrl.showBar">
        <!--<img ng-src="{{ $ctrl.editingImageUrl }}" class="fullscreen-image"/>-->
        <canvas id="imageCanvas" class=""></canvas>
    </ion-pane>
    
    <div class="bar bar-footer bar-balanced" ng-show="$ctrl.showBar">
        <button class="button button-icon pull-left ion-arrow-return-left" ng-click="$ctrl.rotateLeft()"></button>
        <button class="button button-icon pull-left ion-arrow-return-right" ng-click="$ctrl.rotateRight()"></button>
        <button class="button button-icon pull-right ion-trash-a" ng-click="$ctrl.deleteImage($ctrl.editingImageName, $ctrl.editingQuestionId)"></button>
    </div>
</div>