<ion-list>
  <ion-item class="item-icon-right" ng-repeat="questionnaire in $ctrl.questionnaires" ng-class="{'active': questionnaire.id === $ctrl.idSelectedQuestionnaire }"
    ng-click="$ctrl.selectQuestionnaire(questionnaire.id)">
    {{ questionnaire.name }}
    <i class="icon ion-chevron-right icon-accessory"></i>
  </ion-item>
</ion-list>