<ion-side-menus enable-menu-with-back-views="false">
    <!-- Main content -->
    <ion-side-menu-content>
        <ion-nav-bar class="bar-positive" ng-click="$ctrl.clickNavBackBtn()">
            <ion-nav-back-button>
            </ion-nav-back-button>

            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent" class="animated fadeIn"></ion-nav-view>
    </ion-side-menu-content>

    <!-- Left Side Menu -->
    <ion-side-menu side="left">
        <ion-header-bar class="bar-positive">
            <h1 class="title">Side Menu</h1>
        </ion-header-bar>

        <ion-content class="has-header" padding="true">
            <ion-list>
                <ion-item ui-sref-active="activated" class="item-icon-left" menu-close ui-sref="home.questionnaires">
                    Questionnaires
                    <i class="icon ion-ios-book"></i>
                </ion-item>
                <ion-item ui-sref-active="activated" class="item-icon-left" menu-close ui-sref="home.profile">
                    My Profile of {{ $ctrl.userName }}
                    <i class="icon ion-person"></i>
                </ion-item>
                <ion-item class="item-icon-left" menu-close ng-click="$ctrl.logout()">
                    Log Out
                    <i class="icon ion-log-out"></i>
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>

    <!-- Right Side Menu -->
    <!--<ion-side-menu side="right">

    </ion-side-menu>-->
</ion-side-menus>