<div class="row">
    <div class="col">
        <!--<label class="item item-input item-stacked-label">
            <span class="input-label">{{ $ctrl.question.content }}</span>
            <textarea placeholder=""></textarea>
        </label>-->
        <label class="item item-input item-stacked-label">
            <span class="input-label">{{ $ctrl.question.answer[0].placeholderContent }}</span>
            <textarea placeholder="" ng-model="$ctrl.question.answer[0].answer" ng-change="$ctrl.saveAnswer()"></textarea>
        </label>
        <label class="item item-input item-stacked-label">
            <span class="input-label">{{ $ctrl.question.answer[1].placeholderContent }}</span>
            <textarea placeholder="" ng-model="$ctrl.question.answer[1].answer" ng-change="$ctrl.saveAnswer()"></textarea>
        </label>
        <label class="item item-input item-stacked-label">
            <span class="input-label">{{ $ctrl.question.answer[2].placeholderContent }}</span>
            <textarea placeholder="" ng-model="$ctrl.question.answer[2].answer" ng-change="$ctrl.saveAnswer()"></textarea>
        </label>
        <label class="item item-input item-stacked-label">
            <span class="input-label">{{ $ctrl.question.answer[3].placeholderContent }}</span>
            <textarea placeholder="" ng-model="$ctrl.question.answer[3].answer" ng-change="$ctrl.saveAnswer()"></textarea>
        </label>
        <label class="item item-input item-stacked-label">
            <span class="input-label">{{ $ctrl.question.answer[4].placeholderContent }}</span>
            <textarea placeholder="" ng-model="$ctrl.question.answer[4].answer" ng-change="$ctrl.saveAnswer()"></textarea>
        </label>
        <label class="item item-input item-stacked-label">
            <span class="input-label">{{ $ctrl.question.answer[5].placeholderContent }}</span>
            <textarea placeholder="" ng-model="$ctrl.question.answer[5].answer" ng-change="$ctrl.saveAnswer()"></textarea>
        </label>        
    </div>
</div>