<div class="row responsive-lg">
    <div class="col col-20">
        <!--<div class="item item-input">-->
        <div class="item-input">
            <textarea placeholder="{{ $ctrl.question.answer[0].placeholderContent }}" ng-model="$ctrl.question.answer[0].answer" ng-change="$ctrl.saveAnswer()"></textarea>
        </div>
    </div>
    <div class="col col-80">
        <label class="item item-input item-stacked-label">
            <span class="input-label">{{ $ctrl.question.answer[1].placeholderContent }}:</span>
            <textarea placeholder="" ng-model="$ctrl.question.answer[1].answer" ng-change="$ctrl.saveAnswer()"></textarea>
        </label>
        <label class="item item-input item-stacked-label">
            <span class="input-label">{{ $ctrl.question.answer[2].placeholderContent }}:</span>
            <textarea placeholder="" ng-model="$ctrl.question.answer[2].answer" ng-change="$ctrl.saveAnswer()"></textarea>
        </label>
        <label class="item item-input item-stacked-label">
            <span class="input-label">{{ $ctrl.question.answer[3].placeholderContent }}:</span>
            <textarea placeholder="" ng-model="$ctrl.question.answer[3].answer" ng-change="$ctrl.saveAnswer()"></textarea>
        </label>
        <label class="item item-input item-stacked-label">
            <span class="input-label">{{ $ctrl.question.answer[4].placeholderContent }}:</span>
            <textarea placeholder="" ng-model="$ctrl.question.answer[4].answer" ng-change="$ctrl.saveAnswer()"></textarea>
        </label>
        <label class="item item-input item-stacked-label">
            <span class="input-label">{{ $ctrl.question.answer[5].placeholderContent }}:</span>
            <textarea placeholder="" ng-model="$ctrl.question.answer[5].answer" ng-change="$ctrl.saveAnswer()"></textarea>
        </label>
        <label class="item item-input item-stacked-label">
            <span class="input-label">{{ $ctrl.question.answer[6].placeholderContent }}:</span>
            <textarea placeholder="" ng-model="$ctrl.question.answer[6].answer" ng-change="$ctrl.saveAnswer()"></textarea>
        </label>
    </div>
</div>