<ion-modal-view class="animated slideInUp">
    <ion-header-bar>
        <h1 class="title">Login</h1>
    </ion-header-bar>
    <ion-content class="has-header" padding="true">
        <form ng-submit="$ctrl.doLogin()">
            <div class="list">
                <label class="item item-input">
                    <span class="input-label">UserName</span>
                    <input type="text" ng-model="$ctrl.user.userName">
                </label>

                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="password" ng-model="$ctrl.user.password">
                </label>

                <label class="item">
                    <button class="button button-block button-positive" type="submit">Log in</button>
                </label>
            </div>
        </form>
    </ion-content>
</ion-modal-view>