<div ng-if="$ctrl.results.length > 0">
    <div class="row header">
        <div class="col col-10">#</div>
        <div class="col col-30">Created Date</div>
        <div class="col col-30">Updated Date</div>
        <div class="col col-10">Is Complete</div>
        <div class="col col-20">Action</div>
    </div>
    <div class="row" ng-repeat="result in $ctrl.results" ng-class="{selected: result.id === $ctrl.idSelectedResult }">
        <div class="col col-10">{{ $index + 1 }}</div>
        <div class="col col-30">{{ result.createdDate | date:'EEE dd/MM/yyyy @ hh:mm:ss.sss' }}</div>
        <div class="col col-30">{{ result.updatedDate | date:'EEE dd/MM/yyyy @ hh:mm:ss.sss' }}</div>
        <div class="col col-10">{{ result.isComplete ? 'Yes' : 'No' }}</div>
        <div class="col col-20">
            <button class="button button-positive" ng-click="$ctrl.selectResult(result.id)">Update</button>
            <button class="button button-assertive" ng-click="">Delete</button>
        </div>
    </div>
</div>

<div class="card" ng-if="$ctrl.results.length == 0">
    <div class="item item-text-wrap">
        There is no result. Please click 'Create New Result' button below to create a new result.
    </div>
</div>

<button class="button button-block button-positive" ng-click="$ctrl.createNewResult()">Create New Result.</button>