/* Empty. Add your own CSS if you like */

/* Fix issue of black screen in navigation */
[nav-view-transition][nav-view-direction] {
   background-color: transparent;
}

/*Progress Bar*/
.progress {
 width: 100%;   
 height: 20px;
 border: 1px solid dodgerblue;
 position: relative; 
 border-radius:100px;
}
  .progress > .percent {
    z-index: 100;
    position: absolute;
    left: 50%;
  }
  .progress > .bar {
   height: 20px;
   background-color: dodgerblue;
   border-radius:100px;
  }

/*Customize Ionic Grid*/
.col {
  border: solid 1px grey;
  border-bottom-style: none;
  border-right-style: none;
}
.col:last-child {
  border-right: solid 1px grey;
}
.row:last-child .col {
  border-bottom: solid 1px grey;
}

/*
  - image-editor
  - Source: http://codepen.io/rdelafuente/pen/tJrik?editors=1000
*/
.image-modal {
  width: 100% !important;
  height: 100%;
  top: 0 !important;
  left: 0 !important;
}
.fullscreen-image {
  max-width: 100%;
  max-height: 100%;
  bottom: 0;
  left: 0;
  margin: auto;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
}
/* Fix modal backdrop for smaller devices */
/*@media (max-width: 679px) {
  .active .modal-backdrop-bg {
    opacity: .5;
  }
  .modal-backdrop-bg {
    -webkit-transition: opacity 300ms ease-in-out;
    transition: opacity 300ms ease-in-out;
    background-color: #000;
    opacity: 0;
  }
}*/

/*DrawingPad Style*/
.drawingpad-modal{
  width: 100% !important;
  height: 100%;
  top: 0 !important;
  left: 0 !important;
}

/*style for results view*/
/*body {
    cursor: url('http://ionicframework.com/img/finger.png'), auto;
}*/
results .header .col {
    font-weight: bold;
}
results .col {
    border: solid 1px grey;
    border-bottom-style: none;
    border-right-style: none;
}
results .col:last-child {
    border-right: solid 1px grey;
}
results .row:last-child .col {
    border-bottom: solid 1px grey;
}
results .selected {
  background-color: lightgrey;
}