<div class="item item-divider item-text-wrap">
    {{ $ctrl.contentTitle }}?
</div>
<!--<ion-list>
  <ion-radio ng-model="choice" ng-value="'A'">A</ion-radio>
  <ion-radio ng-model="choice" ng-value="'B'">B</ion-radio>
</ion-list>-->
<ul class="list">
    <li class="item item-checkbox" ng-repeat="item in $ctrl.contentOptionsArr" ng-if="item && item != ''">
        {{ item }}
        <label class="checkbox">
            <input type="radio" name="group1" ng-model="$ctrl.question.answer" ng-value="item" ng-change="$ctrl.saveAnswer()">
        </label>
    </li>    
</ul>