<ion-list>
    <ion-item class="item-icon-right" ng-repeat="terminal in $ctrl.terminals" ng-class="{'active': terminal.id === $ctrl.idSelectedTerminal }"
        ng-click="$ctrl.selectTerminal($ctrl.questionnaireId, terminal.id)">
        {{ terminal.name }}
        <i class="icon ion-chevron-right icon-accessory"></i>
    </ion-item>
</ion-list>