<div class="item item-checkbox">
    {{ $ctrl.question.content }}
    <label class="checkbox">
        <input type="checkbox" ng-model="$ctrl.question.answer" ng-true-value="'true'" ng-false-value="'false'" ng-change="$ctrl.saveAnswer()">
   </label>
</div>