<div>
    <drawing-pad></drawing-pad>
    <div class="list card">
        <div class="item item-divider item-text-wrap">
            <h2>{{ $ctrl.question.content }}</h2>
        </div>

        <img ng-repeat="drawingImageName in $ctrl.drawingImageNameArr" ng-src="{{$ctrl.urlForImageName(drawingImageName)}}"
            style="height: 100px; width: 100px; padding: 5px 5px 5px 5px;" ng-click="$ctrl.showDrawingPadModal(drawingImageName, $ctrl.question.id)"
        />
        <p style="padding-left: 5px;" ng-show="$ctrl.drawingImageNameArr.length > 0">
            <i class="icon ion-ios-information-outline"></i>
            <a href="" class="subdued">Tap to view or edit drawing.</a>
        </p>

        <a ng-if="$ctrl.drawingImageNameArr.length < 5" class="item item-icon-left assertive" href="" ng-click="$ctrl.showDrawingPadModal(drawingImageName, $ctrl.question.id)">
            <i class="icon ion-compose"></i> Add Drawing (Up to 5)
        </a>
    </div>
</div>