<div>
    <drawing-pad></drawing-pad>
    <div class="list card">
        <div class="item item-divider item-text-wrap">
            <h2>{{ $ctrl.question.content }}</h2>
        </div>

        <!--<img ng-repeat="signatureImageName in signatureImageNameArr[question.id]" ng-src="{{urlForImage(signatureImageName)}}" style="height: 100px; width: 100px; padding: 5px 5px 5px 5px;" ng-click="showSignaturePadCanvas(signatureImageName, question.id)"/>-->
        <img ng-repeat="signatureImageName in $ctrl.signatureImageNameArr" ng-src="{{$ctrl.urlForImageName(signatureImageName)}}"
            style="height: 100px; width: 100px; padding: 5px 5px 5px 5px;" ng-click="$ctrl.showDrawingPadModal(signatureImageName, $ctrl.question.id)"
        />
        <p style="padding-left: 5px;" ng-show="$ctrl.signatureImageNameArr.length > 0">
            <i class="icon ion-ios-information-outline"></i>
            <a href="" class="subdued">Tap to view signature.</a>
        </p>

        <a ng-if="$ctrl.signatureImageNameArr.length == 0" class="item item-icon-left assertive" href="" ng-click="$ctrl.showDrawingPadModal(signatureImageName, $ctrl.question.id)">
            <i class="icon ion-compose"></i> Add Signature
        </a>
    </div>
</div>